<main>
  <article>
    <mat-card class="card" *ngFor="let post of posts">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title
          [innerHtml]="post.title.rendered | uppercase"
        ></mat-card-title>
        <mat-card-subtitle>{{ post.date | date: "medium" }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="card-image"
        mat-card-image
        src="../../../assets/images/light-bulb-4514505_1920.jpg"
        alt="post incident"
      />
      <mat-card-content>
        <div [ngSwitch]="post.categories">
          <p *ngSwitchCase="3">Accident</p>
          <p *ngSwitchCase="4">Incident</p>
          <p *ngSwitchCase="5">Riot</p>
          <p *ngSwitchCase="6">Fighting</p>
          <p *ngSwitchCase="7">Crime</p>
          <p *ngSwitchCase="8">Protest</p>
          <p *ngSwitchCase="1">Uncategorized</p>
          <p *ngSwitchDefault>Incident</p>
        </div>
        <!-- 1=uncategorized, 4=incident, 3=accident, 7=crime, 6=fighting, 8=protest, 5=riot -->
        <p [innerHtml]="post.excerpt.rendered | slice: 0:200"></p>
      </mat-card-content>
      <mat-card-actions>
        <a color="accent" mat-button [routerLink]="['/posts', post.id]"
          >VIEW FULL POST</a
        >
        <!-- <button mat-button>LIKE</button> -->
      </mat-card-actions>
    </mat-card>
  </article>
</main>
