.camera-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    word-wrap: break-word;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 100%;
    width: 500px;
}
button {
    margin: 0.5rem 0;
}