main {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  align-items: center;
  margin: 2rem;
  text-align: center;
}

.bg-hero {
  background-image: url('../../assets/images/light-bulb-4514505_1920.jpg');
  background-size: cover;
  width: 100%;
  height: 60%;
  border-radius: 4px;
  margin: auto;
  background-position: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active {
  text-decoration: underline;
  opacity: 0.8;
}